body{
    padding:0;
    margin:0;
    background:#fff;
    position:relative;
    font-family:Montserrat,sans-serif;
    font-family:'Open Sans',sans-serif
}
body a{
    transition:.5s all;
    -webkit-transition:.5s all;
    -moz-transition:.5s all;
    -o-transition:.5s all;
    -ms-transition:.5s all
}
a:hover{
    text-decoration:none
}
h1,h2,h3,h4,h5,h6{
    margin:0
}
p{
    margin:0
}
ul{
    margin:0;
    padding:0
}
label{
    margin:0
}
header h1{
    line-height:0
}
a.navbar-brand i{
    color:#fd5c63
}
header h1 a span{
    font-size:18px;
    letter-spacing:1px
}
.navbar-brand{
    font-size:1em;
    text-transform:capitalize;
    display:initial;
    margin:0
}
.navbar{
    padding:.5rem 0
}
.navbar-light .navbar-brand{
    color:#fff;
    font-weight:700;
    text-shadow:0 2px 2px rgba(0,0,0,.2)
}
.navbar-brand:focus,.navbar-brand:hover{
    color:rgba(254,59,48,.6)
}
.navbar-light .navbar-brand:focus,.navbar-light .navbar-brand:hover{
    color:#fff
}
.navbar-brand::first-letter{
    border-bottom:3px solid #fe3b30;
    color:#fe3b30
}
.navbar-nav .nav-link,.navbar-nav .nav-link.active,.navbar-nav .nav-link:focus,.navbar-nav .nav-link:hover{
    color:#fff;
    text-transform:capitalize;
    letter-spacing:1px
}
.navbar-light .navbar-nav .active>.nav-link,.navbar-light .navbar-nav .nav-link.active{
    color:#fff;
    border-bottom:2px solid
}
.navbar-light .navbar-nav .nav-link{
    color:#fff;
    text-transform:capitalize;
    font-weight:500;
    font-size:15px;
    letter-spacing:2px;
    padding-left:0;
    padding-right:0;
    border-bottom:2px solid transparent
}
.navbar-light .navbar-nav .nav-link:focus,.navbar-light .navbar-nav .nav-link:hover{
    color:#fff;
    border-bottom:2px solid #fff
}
li.nav-item{
    padding-top:5px
}
header{
    position:absolute;
    z-index:9;
    width:100%
}
.banner{
    background:url(../images/b1.jpg) no-repeat 0 0;
    background-size:cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    -ms-background-size:cover;
    min-height:765px;
    position:relative
}
.banner-layer{
    background:url(../images/layer.png) repeat;
    background:rgba(0,0,0,.5);
    min-height:765px
}
.agile_banner_margin{
    padding:18em 0 0
}
.agile_banner_info h2{
    font-size:40px;
    color:#fff;
    text-transform:uppercase;
    font-weight:700;
    letter-spacing:3px;
    text-shadow:0 2px 2px rgba(0,0,0,.2)
}
.agile_banner_info h4{
    text-transform:capitalize;
    color:#fff;
    letter-spacing:1px;
    font-size:22px;
    margin-top:8px;
    font-weight:600;
    margin-bottom:25px;
    text-shadow:0 2px 2px rgba(0,0,0,.2)
}
.agile_banner_info h5{
    text-transform:capitalize;
    color:#fff;
    letter-spacing:1px;
    font-size:25px;
    margin-bottom:5px;
    font-weight:600;
    text-shadow:0 2px 2px rgba(0,0,0,.2)
}
.agile_banner_info p{
    color:#fff;
    margin:1em 0;
    line-height:2em;
    letter-spacing:1px;
    font-size:15px
}
.agile_banner_info a{
    padding:11px 35px;
    background:0 0;
    color:#fff;
    border:2px solid #fff;
    font-weight:600;
    font-size:15px;
    letter-spacing:1px;
    display:inline-block;
    margin-top:1.5em;
    border-radius:35px
}
.agile_banner_info a:hover{
    background:#fff;
    border:2px solid #fff;
    color:#333
}
.about-grids h4{
    font-size:22px;
    line-height:30px;
    text-transform:capitalize;
    font-weight:600;
    color:#333
}
.about-grids p{
    color:#666;
    margin:1.5em 0;
    line-height:28px;
    letter-spacing:.5px;
    font-size:14px
}
.w3_agile_head h5 span{
    color:#fff
}
.skills p{
    color:#fff
}
h3.skills_w3{
    color:#0cbb67
}
.about-grids a{
    padding:11px 35px;
    color:#fff;
    background:#333;
    border:2px solid #333;
    font-weight:600;
    font-size:15px;
    letter-spacing:1px;
    display:inline-block;
    border-radius:35px
}
.about-grids a:hover{
    color:#333;
    background:0 0;
    border:2px solid #333
}
.bar-grids h4{
    font-size:1.6em;
    color:#fff;
    letter-spacing:1px;
    margin-bottom:1.4em;
    padding-bottom:0;
    font-weight:600
}
.progress{
    height:10px;
    margin-bottom:2.2em;
    background-color:#dadde0;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -o-border-radius:5px;
    -ms-border-radius:5px;
    border-radius:5px
}
.progress-bar{
    background-color:#191919
}
.bar-grids h6{
    font-size:15px;
    color:#666;
    margin-bottom:7px;
    text-transform:capitalize;
    letter-spacing:.5px
}
.bar-grids h6 span{
    float:right;
    font-size:1em
}
.progress-bar-striped,.progress-striped .progress-bar{
    background-image:none!important
}
h3.heading{
    font-size:45px;
    text-align:center;
    color:#333;
    font-weight:600;
    letter-spacing:5px;
    position:relative
}
h3.heading:after{
    position:absolute;
    content:'';
    width:10%;
    height:3px;
    background:#333;
    left:45%;
    bottom:-18%
}
.about-grids{
    margin-top:5em
}
.services{
    background:#191919
}
.service-grids{
    margin-top:5em
}
.w3-icon-grid1 h3{
    text-transform:capitalize;
    color:#999;
    font-size:22px;
    font-weight:600;
    letter-spacing:1px;
    margin-bottom:15px
}
.w3-icon-grid1{
    position:relative
}
.w3-icon-grid1 h3 i{
    color:#fff;
    position:absolute;
    opacity:.1;
    font-size:50px
}
.w3-icon-grid1 p{
    color:#666;
    margin:1.5em 0;
    line-height:28px;
    letter-spacing:.5px;
    font-size:15px
}
.exp-grids{
    margin-top:5em
}
.exp-grid1 h4,.exp-grids h4{
    text-transform:capitalize;
    color:#aaa;
    font-size:20px;
    font-weight:600;
    letter-spacing:1px;
    margin-top:15px;
    margin-bottom:5px
}
.exp-grid1 h5,.exp-grids h5{
    font-size:16px;
    color:#666;
    font-weight:600
}
.exp-grids p{
    line-height:28px;
    letter-spacing:.5px;
    font-size:15px;
    color:#666;
    border-left:3px solid #333;
    padding-left:3em
}
.exp{
    text-align:right;
    padding-right:3em;
    background:#222
}
.exp-grid1 p{
    line-height:28px;
    letter-spacing:.5px;
    font-size:15px;
    color:#666;
    border-right:3px solid #333;
    padding-right:3em;
    text-align:right
}
.exp1{
    padding-left:3em;
    background:#222
}
.services h3.heading{
    color:#fff
}
.services h3.heading:after{
    background:#fff
}
@keyframes shine{
    100%{
        left:125%
    }
}
.testimonials{
    background:#333;
    background:url(../images/test.jpg) no-repeat 0 0;
    background-size:cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    -ms-background-size:cover;
    background-attachment:fixed
}
.testimonials h3.heading{
    color:#fff
}
.testimonials h3.heading:after{
    background:#fff
}
.clients{
    margin-top:5em
}
i.fa.fa-quote-left,i.fa.fa-quote-right{
    margin:0 1em;
    color:#fff
}
.contact-grids{
    margin-top:5em
}
.contact-grids h4{
    text-transform:capitalize;
    color:#333;
    font-size:25px;
    font-weight:600;
    letter-spacing:1px;
    margin-bottom:15px
}
.contact-left h5{
    text-transform:capitalize;
    color:#333;
    font-size:20px;
    font-weight:600;
    margin-bottom:5px
}
.contact-left p,.contact-left p a{
    margin:0;
    line-height:28px;
    letter-spacing:.5px;
    font-size:15px;
    color:#666
}
.contact-left p a:hover{
    color:#000
}
.icon i{
    font-size:20px;
    color:#333
}
label{
    width:17%;
    float:left;
    color:#333;
    font-weight:600
}
footer{
    background:#191919
}
.copyright p,.copyright p a{
    color:#999;
    font-size:15px;
    margin:0;
    font-weight:100;
    letter-spacing:1px;
    line-height:28px
}
.copyright a:hover{
    color:#fff
}
#toTop{
    display:none;
    text-decoration:none;
    position:fixed;
    bottom:40px;
    right:2%;
    overflow:hidden;
    z-index:999;
    width:36px;
    height:36px;
    border:none;
    text-indent:100%;
    border:2px solid #191919;
    background:#191919 url(../images/arr.png) no-repeat 0 0;
    border-radius:50%
}
#toTopHover{
    width:40px;
    height:40px;
    display:block;
    overflow:hidden;
    float:right;
    opacity:0;
    -moz-opacity:0
}
@media (max-width:1080px){
    .banner,.banner-layer{
        min-height:658px
    }
    .agile_banner_margin{
        padding:14em 0 0
    }
    .agile_banner_info h2{
        font-size:37px;
        letter-spacing:2px
    }
    .about-grids h4{
        font-size:18px
    }
    label{
        width:19%
    }
}
@media (max-width:991px){
    .navbar-light .navbar-toggler{
        border-color:#fff
    }
    .navbar-toggler{
        border-radius:0;
        background:#fff
    }
    .agile_banner_info h2{
        font-size:33px;
        letter-spacing:1px
    }
    .agile_banner_margin{
        padding:12em 0 0
    }
    ul.navbar-nav.ml-lg-auto.text-center{
        padding:1em;
        background:rgba(0,0,0,.7)
    }
    .navbar-light .navbar-nav .active>.nav-link,.navbar-light .navbar-nav .nav-link.active{
        width:30%;
        margin:0 auto
    }
    .navbar-light .navbar-nav .nav-link{
        width:30%;
        margin:0 auto
    }
    .agile_banner_info p{
        font-size:14px
    }
    .agile_banner_info h4{
        font-size:20px
    }
    .banner,.banner-layer{
        min-height:590px
    }
    .exp{
        padding-right:2em
    }
    .exp1{
        padding-left:2em
    }
    .about-grids,.clients,.contact-grids,.exp-grids,.service-grids{
        margin-top:3em
    }
}
@media (max-width:768px){
    .agile_banner_margin{
        padding:10em 0 0
    }
    .contact-grids h4{
        font-size:22px;
        letter-spacing:0
    }
    .contact-left h5{
        font-size:18px
    }
}
@media (max-width:736px){
    .exp,.exp1{
        padding-right:0;
        padding:1em
    }
    .exp-grid1 h4,.exp-grids h4{
        margin-top:0
    }
    h3.heading{
        font-size:35px;
        letter-spacing:3px
    }
}
@media (max-width:568px){
    .agile_banner_margin{
        padding:10em 2em 0
    }
    .w3-icon-grid1 p{
        margin:1.5em 0 1em
    }
}
@media (max-width:480px){
    .navbar-light .navbar-nav .active>.nav-link,.navbar-light .navbar-nav .nav-link.active{
        width:40%;
        margin:0 auto
    }
    .navbar-light .navbar-nav .nav-link{
        width:40%;
        margin:0 auto
    }
    .agile_banner_info h5{
        font-size:20px
    }
}
@media (max-width:414px){
    .agile_banner_info h2{
        font-size:28px;
        letter-spacing:0
    }
    .agile_banner_info h4{
        font-size:17px
    }
    h3.heading{
        font-size:35px
    }
    label{
        width:100%;
        float:none
    }
    header h1{
        font-size:2.2rem
    }
    .agile_banner_margin{
        padding:8em 2em 0
    }
}
@media (max-width:384px){
    .agile_banner_info h2{
        font-size:27px
    }
    .agile_banner_margin{
        padding:8em 1em 0
    }
    .w3-icon-grid1 h3{
        letter-spacing:0
    }
    .w3-icon-grid1 h3 i{
        font-size:40px
    }
    .navbar-light .navbar-nav .active>.nav-link,.navbar-light .navbar-nav .nav-link.active{
        width:45%;
        margin:0 auto
    }
    .navbar-light .navbar-nav .nav-link{
        width:45%;
        margin:0 auto
    }
    .about-grids a{
        padding:11px 30px;
        font-size:14px
    }
    .agile_banner_info h5{
        font-size:18px
    }
}
